/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-blue-color: #44bede;
  --main-second-color: #eeeeee;
  --icons-primary-color: brightness(0) saturate(100%) invert(97%) sepia(9%) saturate(339%) hue-rotate(259deg) brightness(118%) contrast(87%);
  --icons-second-color: brightness(0) saturate(100%) invert(83%) sepia(22%) saturate(7480%) hue-rotate(333deg) brightness(98%) contrast(93%);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  display: grid;
  grid-template-areas: 
  "header"
  "content"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;


}

header {
  display: flex;
  grid-area: header;
  padding: 1em 1.7em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgba(68, 190, 222, 0.85);
  z-index: 1000; /* Keeps header on top */
}

.header-logo {
  font-family: "Dokdo";
  font-weight: 100;
  color: var(--main-second-color);
  font-size: 2.5em;
}

nav, .footer-nav {
  display: flex;
  gap: 4em;
  border-right: 2px solid var(--main-second-color);
  padding-right: 2em;
}
.footer-nav {
    border: none;
}

nav button, .footer-nav button {
  border: none;
  background-color: transparent;
  color: var(--main-second-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

nav button {
    font-size: 0.95em;
}
.footer-nav button {
    font-size: 0.9em;
}

.nav-socials {
  display: flex;
}

.header-social-media {
  display: flex;
  padding-left: 2em;
  gap: 1em;
  cursor: pointer;
}

.facebook-nav, .instagram-nav {
  filter: var(--icons-primary-color);
  width: 1.8em;
}

#content {
  grid-area: content;
  background-color: #FAEBD7;
}

footer {
  background-color: var(--main-blue-color);
  display: flex;
  grid-area: footer;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5em;
  align-items: center;
  padding: 1em 1.7em;
  border-top: 2px solid var(--main-second-color);
}

.footer-social-media {
    display: flex;
    width: 20%;
    justify-content: center;
    gap: 2em;
}
.footer-social-media img {
    width: 12%;
    border: 2px solid var(--main-second-color);
    border-radius: 2em;
    padding: 0.4em;
    filter: var(--icons-primary-color);
    cursor: pointer;
}

a {
    font-size: 1em;
    display: flex;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
    width: 12%;
    text-decoration: none;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:visited {
    color: var(--main-second-color);
}
.github-icon {
    width: 12%;
    display: inline-block;
    filter: var(--icons-primary-color);
}
.github-icon {
    color: var(--main-second-color);
}
